.App {
  height: 100vh;

}

.app__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 'md';
  justify-content: space-evenly;
}

.switch {
  position: absolute;
  top: 0px;
  right: 15px;
  padding-top: 10px;
}